body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}


a, .secondary-text  {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

ul {
    list-style: none;
    display: flex; 
    justify-content: space-between;
    gap: 15px;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 5px 15px;
}

h2 {
    font-weight: 800;
    text-align: center;
}

h2, .quote {
    font-size: 36px;
    color: #1f2937;
}

footer {
    padding: 10px;
    height: 40px;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.wrapper-top, footer {
    
    width: 100%;
    display: flex;
   justify-content: center;
   background-color: #1f2937;
   color: #f9fafa;
}

.top {
     display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
}


.header-logo {
    font-size: 24px;
    color: #f9fafa;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero {
    display: flex;
    place-content: center space-between;
    height: 400px;
}

.hero-left {
    width: 315px;
    margin: auto 0;
}

.hero-left>button {
    margin: 10px 0;
}


.hero-right {
    min-width: fit-content;
}


.hero-right>img {
    height: auto;
    width: 403px;
}


.hero-img-placeholder {
    margin-left: 340px;
    background: grey;
    width: 350px;
    height: 175px;
}

.wrapper-content {
    height: 350px;
}

.wrapper-content, .wrapper-quote {
   width: 100%;
   display: flex; 
   align-items: center;
   flex-direction: column;
   padding: 20px;
   justify-content: center;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.content-images {
    display: flex;
   flex-wrap: wrap;
    justify-content: space-around;
}

.content-img {
    border: solid #3882f6 2px;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.image-box {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.caption {
   text-align: center;
}

.wrapper-quote {
    background-color: #e5e7eb;
    min-height: 280px;
}

.quote {
    width: 72%; 
}

div.quote :first-child {
    font-style: italic;
    font-weight: lighter;
}


div.quote :last-child {
    margin-left: auto;
    width: 40%;
}

.call-to-action-wrapper {
    width: 100%;
    display: flex;
    place-content: center;
}

.action-box {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.call-to-action {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: white;
    margin: 50px auto;
    height: 60px;
    padding: 25px;
    align-items: center;
}

.call-to-action button {
    border: solid white 1px;
    margin: auto 0;
    padding: 5px 15px;
}





